services:
  laconicd:
    restart: unless-stopped
    image: cerc/laconicd:local
    command: ["sh", "/docker-entrypoint-scripts.d/create-fixturenet.sh"]
    environment:
      - TEST_AUCTION_ENABLED
      - TEST_REGISTRY_EXPIRY
      - LOGLEVEL
    volumes:
      - ./laconicd/scripts/init.sh:/docker-entrypoint-scripts.d/create-fixturenet.sh
    healthcheck:
      test: ["CMD", "curl", "-v", "http://127.0.0.1:6060"]
      interval: 1s
      timeout: 5s
      retries: 30
    ports:
      - "9473:9473"
      - "1317:1317"
      - "26657:26657"

  cli-test-runner:
    image: cerc/laconic-registry-cli:local
    depends_on:
      laconicd:
        condition: service_healthy
    command: tail -F /dev/null
